<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.redscarf.demo2.persistence.mysql.mapper.TestUserModelMapper">

	<!-- 根据key，查询value -->
	<select id="selectAll3"  resultType="com.redscarf.demo2.common.mysql.model.TestUserModel">
		select * from test_user
	</select>
	
</mapper>